@import url("https://fonts.googleapis.com/css2?family=Georama:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Georama', sans-serif;
  background-color: black;
  background-image: url("../img/wallpaper.jpg");
  background-position: top center;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  margin-top: 50px;
  margin-bottom: 70px;
  font-size: 55px;
  font-weight: 700;
}

h2 {
  text-align: center;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 30px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 18px;
}

.navbar.inicio {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.navbar.inicio .logo {
  width: 350px;
  height: auto;
  margin-bottom: 50px;
}

.navbar.inicio .menu {
  font-size: 30px;
  margin-right: auto;
}

.navbar.inicio .menu .item a {
  color: white;
  opacity: 0.8;
  padding: 20px 50px;
}

.navbar.inicio .menu .item a .icono {
  height: 30px;
}

.navbar .logo {
  height: 35px;
  width: auto;
}

.navbar .menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.navbar .menu .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 25px;
  text-decoration: none;
  color: black;
  opacity: 0.65;
}

.navbar .menu .item a:hover {
  opacity: 1;
}

.navbar .menu .item a.activo {
  background-color: rgba(0, 32, 100, 0.8);
  color: white;
  opacity: 1;
}

.navbar .menu .item a .icono {
  margin-right: 7px;
  height: 18px;
}

.contenido {
  overflow-y: auto;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.contenido.margenes {
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 200px;
  padding-right: 200px;
}

.video {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #000000;
}

.productora {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productora img {
  height: 80px;
}

.sinopsis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
}

.detalles {
  width: 500px;
  margin-right: 50px;
}

.detalles .poster {
  width: 75%;
  margin-bottom: 30px;
}

.detalles ul {
  list-style: none;
}

.detalles ul li {
  margin-bottom: 10px;
  font-weight: 300;
}

.detalles ul li span {
  margin-right: 10px;
  font-weight: 600;
}

.parrafo {
  width: 100%;
  line-height: 42px;
  font-size: 30px;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 1px;
}

.reparto,
.produccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.persona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  font-size: 20px;
  padding: 0 35px;
}

.persona .nombre {
  font-size: 24px;
  font-weight: 500;
}

.persona .rol {
  font-size: 22px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 5px;
}

.persona .social {
  color: white;
  opacity: 0.75;
  text-decoration: none;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.persona .social:hover {
  opacity: 1;
  text-decoration: underline;
}

.persona .social .icono {
  margin-right: 10px;
  height: 18px;
}

.produccion {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.participacion {
  width: 33.333%;
  margin-bottom: 40px;
  padding: 5px;
}

.participacion .persona {
  text-align: center;
  width: 100%;
  padding: 0px;
}

.participacion .persona .nombre {
  margin-bottom: 5px;
}
